<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<configSections>	
    </configSections>
	<connectionStrings>
  <add name="Conexion_DB" connectionString="Data Source=DESKTOP-UJ3Q8CL\SQLEXPRESS;Initial Catalog=DBSistema_de_Ventas;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="PuntoDeVenta.Properties.Settings.DBSistema_de_VentasConnectionString"
   connectionString="Data Source=DESKTOP-UJ3Q8CL\SQLEXPRESS;Initial Catalog=DBSistema_de_Ventas;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>